h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0.5vw;
    padding: 0;
}

hr {
    margin: 0;
    width: 98%;
    left: 1%;
    border: 0.2vw solid #000000;
    position: relative;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

input.text {
    width: 100%;
    height: 100%;
}

input.cancel {
    border: 0.2vw solid #000000;
    border-radius: 0.7vw;
    display: inline-block;
    padding: 0.1vw 0.5vw; 
    text-decoration: none; 
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    font-size: 2vw;
    cursor: pointer;
    top: 0.3vw;
    right: 0.5vw;
}

input.save {
    border: 0.2vw solid #000000;
    border-radius: 0.7vw;
    display: inline-block;
    padding: 0.1vw 0.5vw; 
    text-decoration: none; 
    color: #000000;
    background-color: #ffffff;
    position: absolute;
    font-size: 2vw;
    cursor: pointer;
    top: 0.3vw;
    right: 9.1vw;
}

input:hover {
    box-shadow: 0 0 0.1vw rgba(0,0,0,0.3);
    background: #dedcdc;
}

input.delete-checkbox {
    position: relative;
    left: -8.5vw;
    width: 1vw;
    margin: 0;
}

table {
    margin-top: 1vw;
    margin-left: 1vw;
}

select {
    width: 100%;
}