h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0.5vw;
    padding: 0;
}

hr {
    margin: 0;
    width: 98%;
    left: 1%;
    border: 0.2vw solid #000000;
    position: relative;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

a {
    border: 0.2vw solid #000000; /* Рамка */
    border-radius: 0.7vw;
    display: inline-block;
    padding: 0.1vw 0.5vw; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    position: absolute;
    font-size: 2vw;
}

a.add {
    top: 0.3vw;
    right: 16vw;
}

a.mass_delete {
    top: 0.3vw;
    right: 0.5vw;
}

a:hover {
    box-shadow: 0 0 0.1vw rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, rgba(0,0,0,0.3)); /* Градиент */
}

input.delete-checkbox {
    position: relative;
    left: -8.5vw;
    width: 1vw;
    margin: 0;
}

table {
    margin: 1%;
    width: 98%;
}

td {
    border: 0.2vw solid #000000;
    border-radius: 0.8vw;
    padding: 0.5vw;
    text-align: center;
    width: 20%
}